
<div class="row">

    <div class="col-lg-12">
        <div class="page-header">
            <h1>Список задач</h1>
        </div>
    </div>

    <div class="col-md-12">        
        <a href="#" class="btn btn-primary">Добавить новое задание</a>        
    </div>

    <div class="col-md-12">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя пользователя</th>
      <th scope="col">Email</th>
      <th scope="col">Tекст задачи</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><span class="badge badge-info">Info</span></td>
    </tr>

  </tbody>
</table>

    </div>
    

</div>

